<div class="signup-title">Let's Add Your Monthly Expenses!</div>

<div class="btn-container" style="padding-top: 50px;">
    <div class="new-acct-btn">
        <a href="/MonthlyBudget/new">
            <button type="button" class="signup_btn">Add New Monthly Expense</button>
        </a>

    </div>
</div>



<ul>
    {{#each allMonthlyBudget}}

    <li>
        <a href="/MonthlyBudget/{{_id}}">
            {{_id}}
        </a>
        <h3>{{monthlyincome}}</h3>
        <h3>{{monthlyexpenses}}</h3>
        <h3>{{monthlybudget}}</h3>

    </li>

    {{/each}}
</ul>