<h2>Monthly Income:</h2>
<div>{{singleMonthlyBudget.monthlyincome}}</div>

<h2>Monthly Expenses:</h2>
<div>{{singleMonthlyBudget.monthlyexpenses}}</div>

<h2>Monthly Budget:</h2>
<div>{{singleMonthlyBudget.monthlybudget}}</div>

<form method="POST" action="/MonthlyBudget/{{singleMonthlyBudget._id}}?_method=DELETE">
    <input type="submit" value="Delete MonthlyBudget">
</form>

<a href="/MonthlyBudget/{{singleMonthlyBudget._id}}/edit">
    <button>Edit MonthlyBudget</button>
</a>