<div class="signup-containers">

    <label class="form-label" for="monthlyincome"></label>
    <input type="hidden" name="bankname" value="{{singleMonthlyBudget.monthlyincome}}" />

    <label class="form-label" for="monthlyexpenses"></label>
    <input type="hidden" name="bankname" value="{{singleMonthlyBudget.monthlyexpenses}}" />

    <label class="form-label" for="monthlybudget"></label>
    <input type="hidden" name="bankname" value="{{singleMonthlyBudget.monthlybudget}}" />


    <form method="POST" action="/MonthlyBudget/{{singleMonthlyBudget._id}}?_method=DELETE">
        <div class="btn-container">
            <input class="signup_btn" type="submit" value="Delete Monthly Expense">
        </div>
    </form>

    <a href="/MonthlyBudget/{{singleMonthlyBudget._id}}/edit">
        <div class="btn-container">
            <input class="signup_btn" type="submit" value="Update Monthly Expense" />
        </div>
    </a>