<div class="signup-title">Let's Add Your Bank Information!</div>

<form method="POST" action="/bankInfo">


    <div class="btn-container" style="padding-top: 75px;">
        <div class="new-acct-btn">
            <a href="/bankInfo/new">
                <button type="button" class="signup_btn">Let's Go!</button>
            </a>

        </div>
    </div>

</form>



</div>
</div>


<ul>
    {{#each allbankInfo}}

    <li>
        <a href="/bankInfo/{{_id}}">
            {{_id}}
        </a>
        <h3>{{bankname}}</h3>
        <h3>{{bankaccount}}</h3>
        <h3>{{bankrouting}}</h3>

    </li>

    {{/each}}
</ul>