<div class="signup-containers">

    <label class="form-label" for="bankname"></label>
    <input type="hidden" name="bankname" value="{{singlebankInfo.bankname}}" />

    <label class="form-label" for="bankname"></label>
    <input type="hidden" name="bankaccount" value="{{singlebankInfo.bankaccount}}" />

    <label class="form-label" for="bankname"></label>
    <input type="hidden" name="bankrouting" value="{{singlebankInfo.bankrouting}}" />

    <form method="POST" action="/bankInfo/{{singlebankInfo._id}}?_method=DELETE">
        <div class="btn-container">
            <input class="signup_btn" type="submit" value="Delete Account" />
        </div>
    </form>

    <a href="/bankInfo/{{singlebankInfo._id}}/edit">
        <div class="btn-container">
            <input class="signup_btn" type="submit" value="Update Account" />
        </div>



</div>
{{!-- <h2>Bank Name:</h2>
        <div>{{singlebankInfo.bankname}}</div>

        <h2>Bank Account:</h2>
        <div>{{singlebankInfo.bankaccount}}</div>

        <h2>Bank Routing:</h2>
        <div>{{singlebankInfo.bankrouting}}</div>


        <form method="POST" action="/bankInfo/{{singlebankInfo._id}}?_method=DELETE">
            <input type="submit" value="Delete Account">
        </form>

        <a href="/bankInfo/{{singlebankInfo._id}}/edit">
            <button>Update Account</button>
        </a> --}}

</div>
</div>