<div class="signup-title">Lets Get Started!</div>

<div class="btn-container" style="padding-top: 75px;">

    <div class="new-acct-btn">
        <a href="/Welcome/new">
            <button type="button" class="signup_btn">Create Account</button>
        </a>

    </div>


</div>
</a>

<ul>
    {{#each allWelcome}}

    <li>
        <a href="/Welcome/{{_id}}">
            {{_id}}
        </a>
        <h3>{{country}}</h3>
        <h3>{{state}}</h3>
        <h3>{{zipcode}}</h3>

    </li>

    {{/each}}
</ul>