<h2>Country:</h2>
<div>{{singleWelcome.country}}</div>

<h2>State:</h2>
<div>{{singleWelcome.state}}</div>

<h2>Zip Code:</h2>
<div>{{singleWelcome.zipcode}}</div>

<form method="POST" action="/Welcome/{{singleWelcome._id}}?_method=DELETE">
    <input type="submit" value="Delete Welcome">
</form>

<a href="/Welcome/{{singleWelcome._id}}/edit">
    <button>Edit Welcome</button>
</a>