<div class="signup-containers">

    <label class="form-label" for="country"></label>
    <input type="hidden" name="country" value="{{singleWelcome.country}}" />

    <label class="form-label" for="state"></label>
    <input type="hidden" name="state" value="{{singleWelcome.state}}" />

    <label class="form-label" for="zipcode"></label>
    <input type="hidden" name="zipcode" value="{{singleWelcome.zipcode}}" />

    <form method="POST" action="/Welcome/{{singleWelcome._id}}?_method=DELETE">
        <div class="btn-container">
            <input class="signup_btn" type="submit" value="Delete Account" />
        </div>
    </form>

    <a href="/Welcome/{{singleWelcome._id}}/edit">
        <div class="btn-container">
            <input class="signup_btn" type="submit" value="Update Account" />
        </div>