<h2>Email:</h2>
<div>{{singlesignUp.email}}</div>

<h2>Phone Number:</h2>
<div>{{singlesignUp.phonenumber}}</div>

<h2>Password:</h2>
<div>{{singlesignUp.password}}</div>

<form method="POST" action="/signUp/{{singlesignUp._id}}?_method=DELETE">
    <input class="signup_btn" type="submit" value="Delete New Account">
</form>

<a href="/signUp/{{singlesignUp._id}}/edit">
    <div class="btn-container">
        <button class="signup_btn"> Edit Login Information </button>
    </div>
</a>