<h1>Edit Issues</h1>

<form method="POST" action="/issues/{{issues._id}}?_method=PUT">

  <input type="text" placeholder="description" name="description" value="{{issues.description}}" />

  <input type="date" placeholder="createdAt" name="createdAt" value="{{issues.createdAt}}" />

  <input type="text" placeholder="status" name="status" value="{{issues.status}}" />

  <input type="text" placeholder="priority" name="priortiy" value="{{issues.priority}}" />

  <input type="submit" value="Save" />
</form>