<h2>Description:</h2>
<div>{{singleIssues.description}}</div>

<h2>Created At:</h2>
<div>{{singleIssues.createdAt}}</div>

<h2>Status:</h2>
<div>{{singleIssues.status}}</div>

<h2>Priority:</h2>
<div>{{singleIssues.priority}}</div>

<form method="POST" action="/issues/{{singleIssues._id}}?_method=DELETE">
    <input type="submit" value="Delete Issues">
</form>

<a href="/issues/{{singleIssues._id}}/edit">
    <button>Edit Issues</button>
</a>